body {background-color: #d7ceeb;}
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      .p1 {
        font-size: 13px;
        font-family: Verdana, Geneva, sans-serif;
      }
      .h1{
        font-size:16px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }

      a:link {
        color: Black;
        background-color: transparent;
        text-decoration: underline;
      }
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;

/* https://i.pinimg.com/564x/83/e0/4b/83e04bbb00414e1604e704530f43b827.jpg */